

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #240140;
    overflow-x: hidden;
}

/* Título */
.texto {
    font-size: 32px;
    margin-left: 50px;
}

/* Cards com as nossas playlists */
.img-playlist {
    height: 80px;
    margin-right: 20px;
}

.cards-playlist {
    margin: 20px 60px; 
}

.card_playlist {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #633D81;
    display: flex;
    flex-direction: row;
    width: 423px;
    height: 80px;
    margin: 20px 10px;
    align-items: center;
}

.card:hover {
    opacity: 0.6;
}

.Nomes {
    font-size: 24px;
}

/* Recomendações */
.recomendacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.sugestoes {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 25px 15px;
    border-radius: 10px;
    padding-top: 20px;
}

.sugestoes:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.sugestoes:hover .play {
    opacity: 1;
    transform: translateY(0);
}

.album img {
    height: 220px;
    width: 230px;
    margin: 5px 10px;
}

.detalhes {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
}

.img-album {
    position: relative;
}

.play {
    position: absolute;
    z-index: 10;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* _______________________________*/
/* Responsividade */


/* Telas médias */
@media (max-width: 1024px) {
     .Nomes, .detalhes {
        font-size: 14px; 
    }

    .texto {
        font-size: 25px;
    }

    .card {
        width: 175px;        
    }

    .img-playlist {
        margin-right: 9px;
    } 

    .cards-playlist, .recomendacoes {
        margin: 10px; /* Reduzir as margens */
    }

    .recomendacoes{
        margin: 0;
    }


    .sugestoes {
        margin: 0 5px;
        margin-bottom: 20px;
        
    
    }
    .album img {
        height: 185px;
        width: 166px;
        margin: 5px 10px;
    }
}

/* telas pequenas */

@media (max-width: 600px) {
    .texto {
        font-size: 18px; 
        margin-left: 20px;
    }

    .Nomes {
        font-size: 12px;
    }



    .album img {
        height: 135px;
        width: 150px;
        margin: 5px 10px;
    }

    .card {
        width: 157px;  
    
    }

    .img-playlist {
        margin-right: 7px;
    }

}
