* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: relative; 
    z-index: 1000; 
    width: 100%;
    height: 5em;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    
}

.Logo {
    margin: 5px;
    width: 75px;
    height: 75px;
}


.burger-menu {
    height: 100%;
    width: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
}
.burger-bar {
    width: 3em;
    height: 0.3em;
    background-color:#CD2840;
    border-radius: 0.5em;
}

.menu {
    position: fixed; 
    z-index: 1000; 
    width: 30%;
    height: 100vh;
    background-color: #262626;
    right: 0; 
}
/* ____Menu ________________*/
.hidden {
    display: none;
}

.visible {
    display: inherit;
    transition: 0.6s;
}

/* ____Animações___*/
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(44deg) translate(0.70em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.02);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.35em, 1em);
    transition: ease-out 0.5s;
}

/* não clicado */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* ________________________________________ */
/* Links dentro da nav */




.toggle li {
    list-style: none;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toggle li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: #CD2840;
    transition: 0.3s ease-in-out;
}

.toggle li a:hover{
    color: #976df2;
    cursor: pointer;
}

#span {
    color: #CD2840;
}

#span:hover {
    color: #976df2;
    cursor: pointer;

}

.borda {
    border-bottom: 1px solid #CD2840;
    padding: 0 5px;
}

/* _________________________________________ */
/*  Barra de navegação */

.pesquisa {
    border-radius: 50px;
    width: 250px
}


.search {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 500px;
    height: 40px;
    margin-left: -150px;
}


/* Barra de Scroll */

  html ::-webkit-scrollbar {
    width: 10px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-image: linear-gradient( #240140, #cd2840 ); 
  }
  html ::-webkit-scrollbar-track {
    background: black;
  }



/* _______________________________________ */
/* Resposividade */


/* Tamanho médio */
@media (max-width: 1024px) {
    .menu {
        right: 30px;
    
    }

  
    nav {
        
        display: flex;
        align-items: center;
        justify-content: space-around;
    
    }
    


    
}

/* Tamanho pequeno */
@media (max-width: 600px) {
    .Palavra{
        display: none;
    }

    .menu {
        right: 50px;

    }


}



