
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    background-color: #240140;

}


.playlist {
   
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.imgs{
    position: relative;
    margin-top: 50px;
}

.imgs img {
    width: 350px;
    height: 350px;
    margin: 25px;
   
}

.imgs .play {
    height: 140px;
    width: 250px;
    position: absolute;
    top: 62%;
    left: 50%;
    opacity: 0; 
}


.imgs .play:hover{
    opacity: 1;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

/* ________________________________________ */
/* Musicas */

.Carousel {
    display: flex;
    justify-content: center; 
    padding-bottom: 7rem;
   
}


/* ____________________________________________ */
/* Responsividade */

/* Tamanho médio */
@media (max-width: 1024px) {
    .imgs img {
        width: 220px;
        height: 220px;
        margin: auto;
        margin: 5px;
    }

    .imgs .play {
        height: 120px;
        width: 175px;
        position: absolute;
    }
    

    
    
}

/* Tamanho pequeno */
@media (max-width: 600px) {
    .imgs img {
        width: 120px;
        height: 120px;
        margin: auto;
        margin: 5px;
    }

    .imgs .play {
        height: 70px;
        width: 100px;
        position: absolute;
    }
    
}

